[submodule "agentdojo-stock/tacit"]
	path = agentdojo-stock/tacit
	url = https://github.com/lampepfl/tacit.git
	branch = agentdojo-exps
[submodule "tau2-bench/tacit"]
	path = tau2-bench/tacit
	url = https://github.com/lampepfl/tacit.git
	branch = tau2-bench-exp
